@keyframes show-toast {
    0% {top: -100%}
    20% {top: 100px}
    80% {top: 100px}
    100% {top: -100%}
}

.show-notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation-name: show-toast;
    animation-duration: 7s;
}

.btn{
    font-size: 12px;
    padding: 2px 1.75em;
    cursor: pointer;
}

.main-search.fancy .field-holder input[type="text"]{
    color: #000000 !important
}