@keyframes show-toast {
    0% {top: -100%}
    20% {top: 100px}
    80% {top: 100px}
    100% {top: -100%}
}

.show-notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation-name: show-toast;
    animation-duration: 7s;
}

.btn{
    font-size: 12px;
    padding: 2px 1.75em;
    cursor: pointer;
}

.main-search.fancy .field-holder input[type="text"]{
    color: #000000 !important
}

table > tbody > tr > td{
    border: none !important;
}
#openings_hours select{
    padding:5px 10px!important;
}
.btn-success.add_hour{
   padding: 7px 15px 7px 15px !important
}

/*----------- hide radio button ---------------- */
.payment-method [type=radio]{
    position:absolute;
    opacity: 0;
    width:0;
    height: 0;
}
/*----------- image style ---------------- */
.payment-method [type=radio] + img{
    cursor: pointer;
    padding: 5px;
}
/*----------- checked style ---------------- */
.payment-method [type=radio]:checked + img{
    outline: 2px solid #ff0000;
}